@import "breakpoints";
@import "paddings";

#about-me {
  padding: 0 $p-mobile;

  img {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 18rem;
    height: auto;
    object-fit: contain;
  }

  .socials {
    justify-content: center;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $p-subhead;

    h2 {
      font-weight: 400;
      font-size: 2rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    p {
      font-size: 1.1rem;
      line-height: 2em;
    }

    a {
      font-size: 2rem;
    }
  }

  @include lg {
    display: flex;
    justify-content: center;
    gap: 16vw;

    img {
      max-width: 30rem;
    }

    div {
      gap: 2rem;
    }

    .socials {
      justify-content: left;
    }
  }
}
