@import "breakpoints";
@import "paddings";

$heading-size: 2.1rem;
$hamb-translate: 10px;

header {
  width: 100%;
  display: flex;
  padding: $p-mobile;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: $heading-size;
    letter-spacing: 0.05rem;
    font-weight: 400;
  }

  .hamburger {
    width: $heading-size;
    height: $heading-size;
    cborder: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      width: 100%;
      height: 2px;
      background-color: black;

      &:nth-child(1) {
        transform: translateY($hamb-translate);
      }

      &:nth-child(3) {
        transform: translateY($hamb-translate * -1);
      }
    }
  }

  #normal {
    display: none;
  }

  @include lg {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
    display: block;

    #mobile {
      display: none;
    }

    #normal {
      display: block;

      ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        justify-content: center;
        font-size: 1.05rem;
        margin: 1em;
        font-weight: 400;
        letter-spacing: 0.05em;

        li {
          a {
            &:hover {
              color: rgb(108, 103, 255);
            }
          }

          .active::after {
            content: "";
            width: 100%;
            border-bottom: 1px solid black;
            display: block;
            margin-top: 0.25em;
          }
        }
      }
    }
  }
}
