@import "breakpoints";
@import "paddings";

.home {
  margin-bottom: 7rem;
  padding: 0 $p-mobile;
  text-align: center;

  h2 {
    padding-bottom: 1em;
    font-size: 1.9rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  p {
    font-size: 1rem;
    padding-bottom: 2em;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-container {
      width: 90vw;
      height: 90vw;
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .link-text {
      display: block;
      font-size: 1.3rem;
      padding: 0.75em;
      text-transform: uppercase;
    }
  }

  @include lg {
    padding-top: 2.25em;

    p {
      padding-bottom: 6em;
    }

    section {
      flex-direction: row;
      justify-content: space-between;

      .img-container {
        width: 27vw;
        height: 27vw;
      }
    }
  }
}
