.masonry-grid {
  width: 100%;
  columns: 3;
  gap: 2.5rem;
  padding: 0 8.25rem;

  img {
    break-inside: avoid;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 2.5rem;
  }
}
