.works-container {
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url("../image/portraits/header.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100% 24%;

    h2 {
      font-size: 3.25rem;
      font-weight: 400;
      text-transform: uppercase;
      color: white;
      letter-spacing: 0.05em;
    }
  }

  #description {
    text-align: center;
    font-size: 1.05rem;
    padding: 5em;
  }

  #setup {
    text-align: center;
    background-color: rgb(240, 240, 240);
    font-size: 1.7rem;
    line-height: 2em;
    padding: 6.75em;
  }
}
